# This is a basic workflow to help you get started with Actions

# Dependency Delegator Package creating steps

# https://maersk-tools.atlassian.net/wiki/spaces/OHM/pages/181613366544/Dependency+Delegator

name: DD_CI

# Controls when the workflow will run
on:
# Triggers the workflow on push or pull request events but only for the "develop" branch
  push:
    branches: 
      #- feature/OHM-16273-fix-1
      #- release/ohm_dd_mvp_01
      - main
        
    paths-ignore:
      - ""
  
 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
# This workflow contains a single job called "build"
  build:
# The type of runner that the job will run on
    runs-on: 
         - self-hosted
         - activemq_7491
    # outputs:
    #   package: ${{ steps.set_var_rest.outputs.package }}
    # permissions:
    #   actions: write
## Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Git connect
        run: |
          echo $BRANCH_NAME
          echo "Welcome to GitHUB"
